<% if flash.any? %>
<div class="container alert-container">
  <div class="row flash">
  <% flash.each do |type, msg| %>
    <div class="col-xs-10 col-xs-offset-1 <%= alert_class(type) %> flash-msg">
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <ul>
        <%= Array(msg).map { |s| "<li>#{sanitize(s)}</li>" }.join('').html_safe %>
      </ul>
    </div>
  <% end %>
  </div>
</div>

<script>
$(".alert-container").fadeTo(1500 * <%= flash.count %>, 500)
                     .delay(1500 * <%= flash.count %>)
                     .slideUp(1000, function () { $(this).slideUp(1000, () => $(this).remove()); });
</script>
<% end %>
