<div class="container">
  <h2 align="center">Published Articles</h2>

  <div class="well well-lg col-xs-8 col-xs-offset-2">
  <% if @articles.any? %>
    <% @articles.sort { |a, b| b.updated_at <=> a.updated_at } .each do |article| %>
      <%= render 'article_preview', article: article %>
    <% end %>
  <% else %>
    <div class="col-xs-8 col-xs-offset-2">
      There are no articles. Create a new article
      <%= link_to 'here', new_article_path %>.
    </div>
  <% end %>
  </div>
</div>
