<div class="container">
  <%= render 'article', article: @article %>
  <% if @article.comments.any? %>
  <div class="col-xs-8 col-xs-offset-2">
    <h4 align="center">Comments</h4>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <% @article.comments.each do |comment| %>
    <div class="well">
    <%= link_to(comment.user.username, user_path(comment.user)) << " [#{comment.updated_at}]:" %>
    <%= comment.body.html_safe %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
