<div class="container">
  <h2 align="center">Listing Users</h2>

  <div class="well well-lg col-xs-8 col-xs-offset-2">
    <div class="row">
    <% @users.each do |user| %>
      <div class="col-xs-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <%= avatar_for(user) %>
              </div>
              <div class="media-body">
                <h5 class="media-heading"><%= link_to user.username, user %></h5>
              </div>
            </div>
          </div>
          <div class="panel-body">
            Articles: <span class="badge pull-right"><%= user.articles.length %></span><br />
            Comments: <span class="badge pull-right"><%= user.comments.length %></span>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
