<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Monkey says hello, and no, there are no bannanas.</p>
<p>Chimp asks, why are the bannanas always gone? and throws a stick.</p>
