<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <p>
      This app was created during instructions from
      <%= link_to 'The Complete Ruby on Rails Developer Course',
                  'https://www.udemy.com/the-complete-ruby-on-rails-developer-course/' %>
      found on <%= link_to 'Udemy', 'https://www.udemy.com' %>.  I may have made
      some liberal alterations to the plan to demonstrate proficiency with the
      technology, not just re-typing what was shown in the course.  Please let
      me know how you feel I have done.  Thank you.
  </div>
</div>
