<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <h2 align="center">For whatever reason...you are banned.</h2>
    <p>This is permanent.  Do not complain.  Do not bitch.  Do nothing.</p>
    <h1 align="center">Take that as your sign, and leave.  Thank you.</h1>
  </div>
</div>
