<div class="row">
  <h3 align="center">Careers</h3>
  <div class="col-lg-10 col-lg-offset-1">
    <p>At present there are no open opportunities with our organization.</p>
    <p>
      If you are into software development and would like to submit your resume, feel free it to email
      <%= mail_to('jobs@privateerconsulting.com', nil, subject: 'I request an audience') %>
      with a stellar letter of introduction in the body of the email.  If we get to the point
      of opening a business and need engineers, designers, or other business-related roles, and
      you are a match, we'll reach out to you.
    </p>
    <p>Thanks for the interest!</p>
  </div>
</div>
