<style>
  .jumbotron {
    margin-top: 30px;
    margin-bottom: 30px;
  }
</style>

<div class="index-page-main">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="jumbotron">
        <h1 align="center">Hello and welcome to a Rails Boilerplate.</h1>
        <p>
          This is just a boilerplate for a Ruby on Rails application.  It has all the
          necessary Gems, files, and configuration to dive into starting a Rails 4 application
          very quickly with minimal startup overhead.

          <ul>
            <li>Bootstrap</li>
            <li>Devise</li>
            <li>Starter static pages</li>
            <li>
              Default layouts updated for common details such as
              <ul>
                <li>Navbar header</li>
                <li>Footer</li>
                <li>Flash notifiations</li>
              </ul>
            <li>and more...</li>
          </ul>
        </p>
        <p>
          All that has to be done is run through a couple of files, execute a couple of generators
          and ready to go.
        </p>
      </div>
    </div>
  </div>
</div>
