<div class="jumbotron">
  <h1>Welcome to the World of Blog</h1>
  <div class="well">
    Welcome to my learning Ruby on Rails blog tutorial implementation.  Yes, the styles are terrible, but that's by design.  I would love to work for you as a senior developer, not a graphics designer.  Let us talk!
  </div>
</div>
