$navbar-default-bg: #228e22;
$navbar-default-color-global: #53ee53;
$navbar-default-color: $navbar-default-color-global;
$navbar-default-link-color: $navbar-default-color-global;
$navbar-default-link-hover-color: $navbar-default-color-global;
$navbar-default-link-active-color: $navbar-default-color-global;

@import "bootstrap-sprockets";
@import "bootstrap";

#navlogo {
  position: relative;
  top: -10px;
}

.article {
  background-color: $navbar-default-bg;
  color: $navbar-default-color-global;

  a, a:hover, a:active, a:visited {
    color: $navbar-default-color-global;
  }

  .title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;

    .author {
      font-size: 0.5em;
      white-space: nowrap;

      .timing {
        font-weight: lighter;
      }
    }
  }

  .actions {
    margin-top: 5px;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  color: #555;

  a:hover {
    font-weight: bold;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
